* {
    text-align: center;
    font-size: 50px;
    font-family: fantasy, sans-serif;
}
h1 {
    font-size: 100px;
    color: rgb(81, 106, 44);
    font-weight: bold;
}
ul {
    background-color: rgb(184, 184, 229);
    font-size: 50px;
    list-style-type: none;
}
h3 {
    background-color: rgb(179, 131, 224);
}
h4 {
    background-color: bisque;
}
p {
    font-size: 30px;
    background-color: rgb(169, 226, 207);
}
ol {
    background-color: rgb(213, 125, 125);
}
